template-main/
user_guide/
assets/images/story/*.jpg
assets/images/story/*.png
assets/images/story/*.gif 
assets/images/story/*.jpeg 
assets/images/story/*.mp3 
assets/images/story/*.wav 

assets/recording/*.jpg
assets/recording/*.png
assets/recording/*.gif 
assets/recording/*.jpeg 
assets/recording/*.mp3 
assets/recording/*.wav

assets/profiles/images/*.jpg
assets/profiles/images/*.png
assets/profiles/images/*.gif 
assets/profiles/images/*.jpeg 

*.zip
application/config/config.php
application/config/database.php
tests/
.vscode
.htaccess
.sql